@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Renti";
  src: url("fonts/Rinter.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Renti", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

scroll efects [data-scroll] {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
}

[data-scroll].is-inview {
  opacity: 1;
  transform: translateY(0);
}

/*animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrowAnimation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  10% {
    opacity: 0;
    transform: translateX(30px);
  }

  25% {
    opacity: 0;
    transform: translateX(-130px);
  }

  50% {
    opacity: 0;
    transform: translateX(-30px);
  }

  75% {
    opacity: 1;
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-30px);
    opacity: 1;
  }
}

@keyframes imgAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes imgAnim2 {
  from {
    width: 90px;
    height: 130px;
    opacity: 1;
  }

  to {
    width: 290px;
    height: 340px;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-30px);
    opacity: 1;
  }
}

@keyframes ShowNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ShowNav2 {
  from {
    transform: translateY(300px);
    opacity: 1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scrollSpacerAnim {
  from {
    height: 200vh;
  }

  to {
    height: 0;
  }
}

@media (min-width: 320px) {
  /*nav container*/
  .nav-items-container {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: ShowNav 1s 0.3s ease 1 forwards;
  }

  .nav-logo-container .logo {
    display: flex;
    align-items: center;
    cursor: default;
  }

  .nav-logo-container .logo img {
    display: flex;
    margin-top: 5px;
    width: 95px;
    height: 90px;
  }

  /*nav logo*/
  .nav-logo-container {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 300px;
    color: #fff;
    opacity: 0;
    animation: ShowNav 1s 0.3s ease 1 forwards;
  }

  .my-name {
    font-size: 2rem;
    font-weight: bold;
  }

  .my-job {
    font-size: 1rem;
  }

  .nav-items-container {
    display: none;
  }

  .nav-contact ul li a {
    color: #fff;
  }

  /*Hero*/
  .InitialHero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #000;
    color: #fff;
  }

  .InitialHero.removeShow {
    display: none;
  }

  .InitialHero span {
    position: absolute;
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    bottom: 0;
    font-family: "Renti";
    font-size: 22rem;
    opacity: 0;
    animation: ShowNav 1s 0.3s ease 1 forwards;
  }

  .InitialTextCase {
    position: absolute;
    height: 90px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    animation: ShowNav 1s 4s ease 1 forwards;
    overflow: hidden;
  }

  .InitialText {
    font-family: "Renti";
    transform: translateY(200px);
    text-align: center;
    font-size: 1.6rem;
    overflow: hidden;
    transition: 1s ease-in-out;
    height: auto;
    animation: ShowNav2 1s 0.3s ease 1 forwards;
  }

  .FinalHero {
    display: none;
    opacity: 0;
    animation: ShowNav 1s 0.3s ease 1 forwards;
  }

  .scrollSpacer {
    display: none;
  }

  /*main*/
  .main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #000;
  }

  .main-page {
    display: block;
    transition: opacity 0.3s ease;
  }

  .main-page.showOff {
    display: none;
  }

  /*work tab*/
  .work-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #000;
  }

  .workPart {
    width: 90%;
  }

  .WorkTitleCase {
    margin-top: 15vh;
    height: auto;
    overflow: hidden;
  }

  .workPart .title {
    color: #fff;
    width: 100%;
    height: auto;
    font-size: 120px;
    font-family: "Renti";
    font-weight: bold;
    text-align: center;
    cursor: default;
    overflow: hidden;
    transition: 1s ease-in-out;
  }

  /*projects-container*/
  .projects-show {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    gap: 90px;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  /*project tabs*/
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s ease;
    transform: translateY(100px);
  }

  .projectContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease;
  }

  .ServiceName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius: 0.8rem;
    background-color: #fff;
    font-size: 4rem;
    font-family: "Renti";
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.468);
  }

  .interactBallon {
    display: none;
  }

  .project1 .projectContent::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/w_1400,h_700,c_fill/banner_fjphfo.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }

  .project1 .projectContent::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    border: solid 1px #ffffff36;
    z-index: -1;
  }

  .project1:hover .projectContent::before {
    transform: scale(1.3);
    opacity: 0.3;
  }

  .project2 .projectContent::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/v1750195633/coffeeMainPoster_upw9it.png);
    background-size: contain;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }

  .project2:hover .projectContent::before {
    transform: scale(1.3);
    opacity: 0.6;
  }

  .project3 .projectContent::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/w_1400,h_2000,c_fill/parisbanner_laxp3z.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }

  .project3:hover .projectContent::before {
    transform: scale(1.3);
    opacity: 0.3;
  }

  .project3 .projectContent::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    border: solid 1px #ffffff36;
    z-index: -1;
  }

  .project4 .projectContent::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/v1750195817/cafePoster_nkog9s.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }

  .project4:hover .projectContent::before {
    transform: scale(1.3);
    opacity: 0.6;
  }

  .project4 .projectContent::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    border: solid 1px #ffffff36;
    z-index: -1;
  }

  .project5 .projectContent::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/v1750196021/CalculatorPoster_ivdn92.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
    transition: 0.5s ease-in-out;
  }

  .project5:hover .projectContent::before {
    transform: scale(1.3);
    opacity: 0.4;
  }

  .subContent {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 100px;
    color: #fff;
  }

  .ServiceInfo {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-bottom: 15px;
  }

  .Sublinha {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 1px;
    width: 0;
    transition: 0.8s ease-in-out;
  }

  .Sublinha.show {
    width: 100%;
  }

  /*macOS style*/
  .browser-container {
    width: 90%;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .apple-bar {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    background: #212121;
  }

  .apple-bar span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff5f56;
  }

  .apple-bar span:nth-child(2) {
    background: #ffbd2e;
  } /* amarelo */
  .apple-bar span:nth-child(3) {
    background: #27c93f;
  } /* verde */

  .browser-container img {
    width: 100%;
  }

  /*project pages*/
  .project-page-container {
    position: relative;
    background-color: #000;
    display: none;
    height: 100%;
    width: 100%;
  }

  .project-page-container.show {
    display: block;
  }

  .project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .fa-arrow-left {
    position: fixed;
    left: 0;
    margin-top: 97px;
    margin-left: 30px;
    background-color: #fff;
    padding: 15px 16px;
    border-radius: 50%;
    color: #000;
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 1.6rem;
    z-index: 6;
    opacity: 0;
    transform: translateX(-130px);
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .fa-arrow-left.show {
    opacity: 1;
    transform: translateX(-0px);
  }

  .projectScreen {
    position: relative;
    margin-top: 130px;
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    justify-content: center;
    pointer-events: none;
  }

  .project {
    width: 90%;
    height: 400px;
    border: 1px solid #ffffff31;
  }

  .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .overview {
    position: relative;
    display: flex;
    align-items: center;
    gap: 45px;
    flex-direction: column;
    height: auto;
    width: 90%;
    color: #fff;
    cursor: default;
  }

  .ovw-FirstPart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    width: 100%;
  }

  .ovw-FirstPart h3 {
    font-weight: bold;
    font-size: 2rem;
  }

  .ovw-FirstPart p {
    font-weight: 400;
    color: #ddd;
    font-size: 1.4rem;
  }

  .projectLink {
    margin-top: 30px;
    max-width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0.8rem;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
    border: 1px solid #fff;
    font-size: 1.6rem;
  }

  .projectLink:hover {
    background-color: #000;
    color: #fff;
  }

  .timeText {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .timeText .text2 {
    font-weight: bold;
    color: #fff;
  }

  .ovw-SecondPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 60px;
  }

  .ovw-SecondPart h3 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
  }

  .ovw-SecondPart p {
    font-weight: 400;
    color: #ddd;
    font-size: 1.5rem;
    text-align: justify;
  }

  .DesktopTitle {
    width: 100%;
  }

  .DesktopTitle h2 {
    font-size: 9rem;
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    font-weight: bold;
    color: #fff;
    font-family: "Renti";
    text-align: center;
  }

  .carrossel {
    position: relative;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #ffffff70, #ffffffae);
    cursor: pointer;
    pointer-events: none;
  }

  .project-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectScreenVideo {
    margin-top: 90px;
    display: flex;
    height: 350px;
    justify-content: center;
  }

  .projectScreenFrame {
    display: flex;
    height: 350px;
    width: 100%;
    justify-content: center;
  }

  /*macOS style*/
  .browser-container video {
    width: 100%;
  }

  /*Mobile Part*/
  .MobileProjectPart-Container {
    position: relative;
    margin-top: 5em;
    width: 100%;
    height: auto;
  }

  .MobileTitle h2 {
    font-size: 9rem;
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    font-weight: bold;
    color: #fff;
    font-family: "Renti";
    text-align: center;
  }

  .MobileCarrossel {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }

  .imgCase {
    height: 450px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ffffff70, #ffffffae);
  }

  .imgCase img {
    height: 80%;
    object-fit: cover;
  }

  footer {
    background-color: #000;
    display: flex;
    gap: 15px;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .FooterNameCase {
    height: auto;
    overflow: hidden;
  }

  .footerName {
    text-align: center;
    font-size: clamp(3rem, 22vw, 12rem);
    letter-spacing: -0.02em;
    transform: translateY(300px);
    white-space: nowrap;
    color: white;
    font-weight: bold;
    cursor: default;
    overflow: hidden;
    transition: 0.6s ease-in-out;
  }

  .linha {
    width: 80%;
    height: 1px;
    background-color: #fff;
  }

  .ContactFooterContainer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .ContactFooterContainer h2 {
    font-size: 2.5rem;
    font-family: "Renti";
    font-weight: bold;
    cursor: default;
  }

  .mailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mailBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .mailBox input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.8em;
  }

  .mailBox button {
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 0.8em;
    color: #fff;
    background-color: #000;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .mailBox button:hover {
    background-color: #fff;
    color: #000;
  }

  .contactIcons {
    padding: 15px;
    font-size: 2rem;
  }

  .contactIcons ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
  }

  .contactIcons a {
    text-decoration: none;
    color: #fff;
  }

  .contactIcons ul li {
    display: flex;
    position: relative;
    padding: 13px 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 1;
  }

  .contactIcons ul a li {
    color: #fff;
    transition: 0.5s ease;
  }

  .contactIcons ul a:hover li {
    color: #000;
  }

  .contactIcons ul li:hover {
    background-color: #fff;
  }

  .backToTop {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    padding-bottom: 30px;
  }

  .content {
    opacity: 0;
    pointer-events: none;
  }

  .content.show {
    opacity: 1;
    pointer-events: auto;
  }

  .loadingScreen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    transition: 0.8s ease-in-out;
    transition: transform 0.8s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 50000;
  }

  #loadingScreenProject {
    transform: translateY(100vh);
  }

  #loadingScreenProject.show {
    opacity: 1;
    transform: translateY(0);
  }

  #loadingScreenProject.showOff {
    transform: translateY(-100vh);
  }

  .loadingScreen.show {
    opacity: 1;
  }

  .loadingScreen.showOff {
    transform: translateY(-100vh);
  }

  .textloadingCase {
    margin-top: 1vh;
    height: auto;
    overflow: hidden;
  }

  .textLoading1,
  .textLoading2 {
    height: auto;
    overflow: hidden;
    transform: translateY(150px);
  }

  .textLoading1 {
    transition: 1.5s ease;
  }

  .textLoading2 {
    transition: 1.5s 0.5s ease;
  }

  .textWait {
    opacity: 0;
    transition: 1s 1.5s ease;
  }

  .textWait.show {
    opacity: 1;
  }

  .textLoading1.show {
    transform: translateY(0);
  }

  .textLoading2.show {
    transform: translateY(0);
  }

  .loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .textLoading1,
  .textLoading2 {
    margin-left: 0.5em;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: "Renti";
    font-weight: bold;
  }

  .textWait {
    margin-left: 8em;
    margin-top: 4em;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
  }
}

@media (min-width: 768px) {
  .logoMbl .text-logo .my-name {
    font-size: 24px;
  }

  .FirstScreen .title {
    font-size: 65px;
  }

  .FirstScreen .text {
    font-size: 20px;
  }

  .SecondMiddlePart .banner {
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/w_700,h_600,c_fill/WhatsApp_Image_2025-04-18_at_12.58.52_puwe0r.jpg);
  }

  .workPart .title {
    font-size: 160px;
    text-align: center;
    margin-top: -30px;
  }

  /*work tab*/
  .workPart {
    width: 90%;
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    height: 500px;
    transition: 0.5s ease;
  }

  .project {
    height: 500px;
  }

  .timeText {
    flex-direction: row;
  }

  .ovw-SecondPart {
    gap: 30px;
  }

  .ovw-SecondPart h3 {
    text-align: left;
  }

  .ovw-SecondPart p {
    font-size: 18px;
    text-align: left;
  }

  .projectScreenVideo {
    margin-bottom: 50px;
  }

  .projectScreenFrame {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .cursor-spotlight {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999999;
    transform: translate(-50%, -50%);
    backdrop-filter: invert(1) brightness(2);
    -webkit-backdrop-filter: invert(1) brightness(2);
    transition: backdrop-filter 0.3s ease;
    mix-blend-mode: normal;
  }

  /*nav container*/
  .nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 90px;
    width: 100%;
    background-color: #000;
    color: #fff;
    transition: 0s ease;
  }

  .nav-items-container {
    display: flex;
  }

  .nav-container.show {
    background-color: #f3e8d5;

    .nav-contact ul li a {
      color: #000;
    }
    .navLogo-mobile-container {
      color: #000;
    }

    .mid-tab ul li a {
      color: #000;
    }

    .linha1,
    .linha2 {
      background-color: #000;
    }

    .my-name {
      color: #000;
    }

    .my-job {
      color: #000;
    }

    .fa-arrow-right-long {
      color: #000;
    }
  }

  .my-name {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .my-job {
    font-size: 1.4rem;
  }
  /*nav logo fixed container*/
  .nav-logo-container {
    top: 10px;
    left: 10px;
  }

  /*nav contact container*/
  .nav-contact-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-contact ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .nav-contact ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 5px 0px;
  }

  .fa-arrow-right-long {
    margin-top: 2px;
  }

  .nav-contact ul li:hover {
    .fa-arrow-right-long {
      animation: arrowAnimation 0.5s 0.1s ease-in-out 1;
    }
  }

  .nav-contact ul li a {
    text-decoration: none;
    color: #fff;
  }

  /*main*/
  .InitialHero {
    height: calc(100vh - 90px);
    width: 100vw;
  }

  .InitialText {
    display: none;
  }

  .InitialHero span {
    bottom: -60px;
  }

  /*space to animation div*/
  .scrollSpacer {
    height: 200vh;
    background: #000;
    transition: 0.2s ease;
    display: block;
  }

  .scrollSpacer.removeShow {
    background-color: #f3e8d5;
    animation: scrollSpacerAnim 0s ease forwards;
  }

  /*animated hero*/
  .FinalHero {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 90px;
    top: 50vh;
    width: 350px;
    height: 90px;
    background-color: #f3e8d5;
    z-index: 1;
  }

  .FinalHero.removeShow {
    display: none;
  }

  .FinalHero .introText {
    font-size: 8rem;
    margin-top: 1rem;
    color: #000;
    font-family: "Renti";
    transition: 1s ease-in-out;
  }

  .FinalHero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .FinalHeroContent {
    display: flex;
    height: 100vh;
  }

  .OnepartScreen {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  .OnepartScreen.show {
    width: 50%;
  }

  .FinalHeroText {
    display: none;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1em;
    width: 300px;
  }

  .FinalHeroText.show {
    display: block;
    animation: ShowNav 1s ease 1 forwards;
  }

  .resumeBtnContainer {
    align-items: center;
    justify-content: center;
    gap: 25px;
    display: none;
    width: 90%;
  }

  .resumeBtnContainer.show {
    display: flex;
  }

  .resumeBtnContainer a {
    text-decoration: none;
  }

  .ResumeDownloadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 15px;
    border-radius: 0.5em;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    transition: 0.5s ease;
    opacity: 0;
  }

  #ResumeDownloadBtn1.show {
    animation: ShowNav 1s ease 1 forwards;
  }

  #ResumeDownloadBtn2.show {
    animation: ShowNav 1s ease 1 forwards;
  }

  .TwoPartScreen {
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    display: none;
  }

  .TwoPartScreen.show {
    display: flex;
    animation: ShowNav 1s ease 1 forwards;
  }

  .FinalHeroContent .TwoPartScreen .banner {
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 2em;
    margin-right: 2rem;
    background-image: url(https://res.cloudinary.com/dabshzrnj/image/upload/w_400,h_400,c_fill/IMG_20250604_134131310_vbqueg.jpg);
    background-size: cover;
    background-position: center;
  }

  /*work tab*/
  .work-container {
    position: relative;
    margin-top: 120vh;
  }

  /*projects-container*/
  .projects-show {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    gap: 45px;
  }

  .interactBallon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    border: 2px solid #fff;
    cursor: pointer;
  }

  .interactBallon .fa-arrow-right-long {
    position: absolute;
    font-size: 9rem;
    color: #fff;
    z-index: 1;
  }

  #interactBallon1 .fa-arrow-right-long {
    transform: rotate(190deg);
  }

  #interactBallon2 .fa-arrow-right-long {
    transform: rotate(25deg);
  }

  .HoverBallonActived {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    transition: 0.4s ease;
    z-index: 3;
  }

  .ballonPhrase {
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0;
    text-align: center;
    min-width: 280px;
    transition: 0.4s 0s ease;
  }

  .interactBallon:hover {
    .HoverBallonActived {
      width: 100%;
      height: 100%;
    }
    .ballonPhrase {
      opacity: 1;
      transition: opacity 0.8s 0.4s ease;
    }
  }

  #interactBallon1 {
    margin-top: 35em;
  }

  #interactBallon2 {
    margin-top: -50em;
  }

  #interactBallon3 {
    margin-top: 25em;
    border: none;
    background-color: rgba(255, 255, 0, 0.905);
  }

  /*project tabs*/
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    display: flex;
    font-size: 6rem;
  }

  .project1 {
    width: 90%;
    height: 500px;
  }

  .project2 {
    width: 120%;
    height: 650px;
    margin-top: 150px;
  }

  .project2 .projectContent {
    height: 90%;
  }

  .project3 {
    width: 100%;
    margin-top: 4em;
    height: 600px;
  }

  .project4 {
    width: 100%;
    height: 600px;
  }

  .project5 {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    height: 600px;
  }

  .arrowicon {
    display: flex;
  }

  /*macOS style*/
  .browser-container {
    width: 80%;
  }

  .apple-bar {
    background: #333;
  }

  /*project page*/
  .fa-arrow-left {
    top: 6vh;
  }

  .fa-arrow-left:hover {
    transform: translateX(-7px);
  }

  .projectScreen {
    padding-top: 90px;
  }

  .project {
    width: 60%;
    height: 500px;
  }

  .overview {
    margin-top: 5em;
    margin-bottom: 5em;
    padding-bottom: 5em;
    width: 60%;
    flex-direction: row;
  }

  .ovw-FirstPart p {
    font-size: 18px;
  }

  .timeText {
    flex-direction: row;
  }

  .ovw-SecondPart {
    gap: 30px;
  }

  .ovw-SecondPart h3 {
    text-align: left;
    font-size: 2rem;
  }

  .ovw-SecondPart p {
    font-size: 18px;
    text-align: left;
  }

  .fa-arrow-up-right-from-square {
    display: block;
  }

  .projectLink {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .carrossel {
    width: 60%;
  }

  /*Mobile*/
  .imgCase {
    height: 550px;
    width: 60%;
  }

  .imgCase img {
    height: 80%;
    object-fit: cover;
  }

  /*macOS style*/
  .browser-container video {
    width: 100%;
  }

  .ContactFooterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mailBox {
    width: 100%;
  }

  .mailBox form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .mailBox input {
    padding: 16px;
    width: 60%;
    background-color: #ffffff29;
    color: #fff;
    border-radius: 0.8em;
  }

  .loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .textLoading1,
  .textLoading2 {
    margin-left: 0.5em;
    font-size: 9rem;
    text-transform: uppercase;
    font-family: "Renti";
    font-weight: bold;
  }

  .textLoading1.show {
    transform: translateY(20px);
  }

  .textLoading2.show {
    transform: translateY(30px);
  }

  .textWait {
    margin-left: 8em;
    margin-top: 4em;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
  }
}

@media (min-width: 1920px) {
  .nav-container {
    height: 120px;
  }

  /*nav logo*/
  .nav-logo-container {
    width: auto;
  }

  .nav-logo-container .logo img {
    width: 130px;
    height: 120px;
  }

  .my-name {
    font-size: 34px;
  }

  .my-job {
    font-size: 20px;
  }

  .option1 {
    font-size: 22px;
  }

  .option2 {
    font-size: 22px;
  }

  .linha1,
  .linha2 {
    margin-top: 30px;
  }

  /*nav contact container*/
  /*nav contact container*/
  .nav-contact-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-contact ul li {
    font-size: 22px;
  }

  /*main*/
  .InitialHero span {
    bottom: 0;
  }

  /*animated hero*/
  .FinalHero {
    top: 50vh;
  }

  .FinalHeroNav .introLogo {
    height: 120px;
    padding: 2rem;
  }

  .FinalHero-container {
    width: 100%;
    height: 100%;
  }

  /*project info*/
  .project-desc {
    font-size: 24px;
  }

  .interactBallon {
    width: 380px;
    height: 380px;
  }

  .interactBallon .fa-arrow-right-long {
    font-size: 12rem;
  }

  .ballonPhrase {
    font-size: 2rem;
  }

  /*project tabs*/
  .fa-arrow-left {
    padding: 25px 26px;
    font-size: 24px;
  }

  .ServiceType,
  .ServiceData {
    font-size: 2.2rem;
  }

  .Sublinha {
    height: 2px;
  }

  .project1 {
    width: 90%;
    height: 700px;
  }

  .projectContent {
    height: 100%;
  }

  .project2 {
    width: 110%;
    height: 850px;
    margin-top: 150px;
  }

  .project3 {
    height: 800px;
  }

  .project4 {
    height: 800px;
  }

  .project5 {
    height: 800px;
  }

  .project {
    width: 85%;
    height: 700px;
  }

  .ovw-SecondPart h3,
  .ovw-FirstPart h3 {
    font-size: 26px;
  }

  .ovw-FirstPart p,
  .ovw-SecondPart p {
    font-size: 22px;
  }

  .projectScreenVideo {
    height: 550px;
  }

  .projectScreenFrame {
    height: 550px;
  }

  .footerName {
    font-size: clamp(3rem, 25vw, 18rem);
  }

  .MediaIcons a {
    font-size: 3rem;
  }

  .backToTop {
    font-size: 20px;
  }
}
